/* css for news app */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fafafa;
    color: #333333;
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
p {
    line-height: 1.6;
    margin-top: 1rem;
}
h1 {
    font-size: 2.3rem;
    line-height: 1.3;
}
h2 {
    font-size: 2rem;
    line-height: 1.4;
}
header {
    text-align: center;
    padding: 3rem 1rem 2rem;
    background-color: #2c2c2c;
    color: #fefefe;
}
header h1 {
    color: #00dfca;
    margin-bottom: 2rem;
    font-weight: 500;
}
input[type="text"] {
    max-width: 500px;
    width: 100%;
    max-height: 28px;
    height: 100%;
    border-radius: 2px;
    border: none;
    padding: .5rem;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 3rem auto;
    padding: 3rem;
    background-color: #fff;
}
.heading{
    text-align: center;
    margin-bottom: 3rem;
    color: #d5491c;
    text-shadow: 15px 0px 10px yellow, 6px 0px 5px yellow, -5px 8px 10px yellow, -6px -10px 10px yellow;
}
.items  {
    margin-bottom: 3rem;
}
.items h2 {
    color: #535151;
}